<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClickPay | Update password</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/forgot.css">
    <script src="../script/forgot.js" defer type="module"></script>
</head>
<body>
    
    <header>
        <div>
            <h1>ClickPay</h1>
            <img src="../images/money.svg" alt="">
        </div>
    </header>

    <main class="container">
        <section class="fSection">
            <div class="fDiv">
                <label for="iUserF">Email</label>
                <input type="text" name="iUserF" id="iUserF" class="loginInput">
            </div>
            <div class="fDiv">
                <label for="iNewPass">New password</label>
                <div class="auxiliaryDiv">
                    <input type="password" name="iNewPass" id="iNewPass" class="loginInput">
                    <img src="../images/view.svg" alt="View password" title="View password" id="eyeImg" class="eyeImg">
                </div>
            </div>
            <div class="fButton">
                <button id="fBtn" class="fBtn">Update Password</button>
            </div>
        </section>
    </main>

</body>
</html>