<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClickPay | Login</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/login.css">
    <script src="../script/login.js" defer></script>
</head>
<body>

    <header>
        <div>
            <h1>ClickPay</h1>
            <img src="../images/money.svg" alt="">
        </div>
    </header>
    
    <main id="container" class="container">
        <section class="loginSection">
            <div class="loginDiv">
                <label for="iUser">Email</label>
                <input type="text" name="iUser" id="iUser" class="loginInput">
            </div>
            <div class="loginDiv">
                <label for="iPass">Password</label>
                <div class="auxiliaryDiv">
                    <input type="password" name="iPass" id="iPass" class="loginInput">
                    <img src="../images/view.svg" alt="View password" title="View password" id="eyeImg">
                </div>
            </div>
            <div class="loginButton">
                <button id="loginBtn" class="loginBtn">Login</button>
            </div>
        </section>
    </main>

</body>
</html>