<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClickPay | SignUp</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/signup.css">
    <script src="../script/signup.js" defer type="module"></script>
</head>
<body>
    
    <header>
        <div>
            <h1>ClickPay</h1>
            <img src="../images/money.svg" alt="">
        </div>
    </header>

    <main class="containerS">
        <section class="signupSection">
            <div class="signupDiv">
                <label for="iName">Name</label>
                <input type="text" name="iName" id="iName" class="loginInputS">
            </div>
            <div class="signupDiv">
                <label for="iDate">Date of birth</label>
                <input type="date" name="iDate" id="iDate" class="loginInputS">
            </div>
            <div class="signupDiv">
                <label for="iUserS">Email</label>
                <input type="text" name="iUserS" id="iUserS" class="loginInputS">
            </div>
            <div class="signupDiv">
                <label for="iPassS">Password</label>
                <div class="auxiliaryDivS">
                    <input type="password" name="iPassS" id="iPassS" class="loginInputS">
                    <img src="../images/view.svg" alt="View password" title="View password" id="eyeImgS" class="eyeImgS">
                </div>
            </div>
            <div class="signupDiv">
                <label for="iPassCon">Confirm your password</label>
                <div class="auxiliaryDivS">
                    <input type="password" name="iPassCon" id="iPassCon" class="loginInput">
                    <img src="../images/view.svg" alt="View password" title="View password" id="eyeImgS" class="eyeImgS">
                </div>
            </div>
            <div class="signupButton">
                <button id="signupBtn" class="signupBtn">Sign Up</button>
            </div>
        </section>
    </main>

</body>
</html>