html, body {
    width: 100vw;
    height: 100vh;
    font-family: var(--text);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.fSection {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 300px;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    gap: 10px;
    border: 2px solid rgb(13, 115, 199);
}

.fDiv {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #5c5959;
}

.auxiliaryDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid rgb(13, 115, 199);
}

.auxiliaryDiv > input {
    border: none !important;
}

.eyeImg {
    cursor: pointer;
}

.fButton {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width:100%;
}

.fBtn {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(13, 115, 199);
    color: white;
    font-family: var(--text);
    letter-spacing: 2px;
    transition-duration: .2s
}

.fBtn:hover {
    filter: opacity(.6);
}

@media (width >= 768px) {
    .fSection {
        width: 400px;
    }
}