html, body {
    width: 100vw;
    height: 100vh;
    font-family: var(--text);
}

header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(13, 115, 199);
    border-radius: 0px 0px 10px 10px;
    width: 100vw;
}

header > div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: var(--text);
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginSection {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 300px;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    gap: 10px;
    border: 2px solid rgb(13, 115, 199);
}

.loginDiv {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #5c5959;
}

.loginInput {
    padding: 8px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid rgb(13, 115, 199);
    font-family: var(--text);
    font-weight: 700;
}

input:focus {
    outline: none;
}

.auxiliaryDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid rgb(13, 115, 199);
}

.auxiliaryDiv > input {
    border: none !important;
}

.loginButton {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width:100%;
}

.loginBtn {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(13, 115, 199);
    color: white;
    font-family: var(--text);
    letter-spacing: 2px;
    transition-duration: .2s
}

.loginBtn:hover {
    filter: opacity(.6);
}





@media (width >= 768px) {
    .loginSection {
        width: 400px;
    }
}