@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins';
    background-image: linear-gradient(to bottom, rgb(13, 13, 48), rgb(74, 74, 94));
    color: white;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    width: 100vw;
    text-align: center;
}

header {
    font-family: 'Sedgwick Ave Display';
}

#tarefas_input input {
    padding: 10px;
    border-radius: 5px;
}

#tarefas_input button {
    padding: 8px;
    border-radius: 5px;
    font-family: 'Poppins';
    cursor: pointer;
    background-color: rgb(201, 166, 13);
    color: white;
    border: none;
    transition-duration: .2s;
}

#tarefas_input button:hover {
    transform: scale(1.05);
}

#tarefas_display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#tarefas_display > #tarefa {
    display: flex;
    align-items: center;
    gap: 20px;
}

#tarefas_display #title {
    background-color: #eee;
    color: black;
    width: 50vw;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #eee;
}

#tarefa > .icons {
    display: flex;
    gap: 10px;
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition-duration: .2s;
}

.check:hover {
    border-radius: 50%;
    background-color: green;
    color: white;
}

.delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition-duration: .2s;
}

.delete:hover {
    border-radius: 50%;
    background-color: red;
    color: white;
}

.done {
    filter: opacity(20%);
    text-decoration: line-through;
}

.disappear {
    display: none;
}