@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}

#form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 3px solid #888;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 300px;
}

#campo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

input[type=text] {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

button {
    background-color: #bbb;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

#listaContatos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border: 3px solid #888;
    border-radius: 5px;
    margin: 5px;
    width: calc(100% - 10px);
}

.contato {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

/* .contato::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: 'X';
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    width: 40px;
    height: 40px;
    background-color: red;
    color: white;
    border-radius: 50%;
    align-self: center;
    cursor: pointer;
} */