* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}

.dgv {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.dgv_titulos {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    background-color: #138;
    color: white;
    border-radius: 5px 5pc 0px 0px;
}

.dgv_titulos div, .dgv_linha div {
    padding: 5px;
}

.dgv_dados {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.dgv_linha {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color: black;
}

.dgv_linha:hover {
    background-color: #088 !important; /* com o !important, esse backgroun-color vai ser usado e não o outro.*/
    cursor: pointer;
    color: white !important;
}

.dgv_linha:nth-child(odd) {
    background-color: #aaa;
}

.dgv_linha:nth-child(even) {
    background-color: #ddd;
}

.c1 {
    width: 50px;
}

.c2 {
    width: 150px;
}

.c3 {
    width: 150px;
}

.c4 {
    width: 150px;
}

.c5 {
    display: flex;
    justify-content: space-around;
    width: 100px;
}

/* Caixa View */

.janela_view {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
}

.view {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #aaa;
    padding: 10px;
    border-radius: 5px;
}

.campo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    width: 500px;
}

.campo input {
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

.rodape {
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
}

.btn {
    background-color: #480;
    color: white;
    cursor: pointer;
    padding: 10px 30px;
    margin: 5px;
    border-radius: 5px;
}

.ocultar {
    display: none !important;
}

